<ion-header>
  <ion-toolbar>
    <ion-title>
      Adicionar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #mySlider pager="true">
    <ion-slide class="step-one">
      <div>
        <div class="linha">
          <h1>Qual Pet você quer cadastrar?</h1>
          <table class="center">
            <tr>
              <td>
                <div class="imgframe" (click)="dog()" [ngClass]="{'img_activated' : animal === 0}" [style.background-image]="'url(/assets/dog-option.svg)'">
                </div>
              </td>
              <td>
                <div class="imgframe" (click)="cat()" [ngClass]="{'img_activated' : animal === 1}" [style.background-image]="'url(/assets/cat-option.svg)'">
                </div>
              </td>
            </tr>
            <tr>
              <td (click)="dog()" [ngClass]="{'td_activated' : animal === 0}">Cachorro</td>
              <td (click)="cat()" [ngClass]="{'td_activated' : animal === 1}">Gato</td>
            </tr>
          </table>
          <ion-button (click)="next()">Continuar</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-two">
      <div>
        <div class="linha">
          <h1>O Pet é menino ou menina?</h1>
          <table class="center">
            <tr>
              <td>
                <div class="imgframe" (click)="menino()" [ngClass]="{'img_activated' : sexo === 0}" [style.background-image]="'url(/assets/dog-option.png)'">
                </div>
              </td>
              <td>
                <div class="imgframe" (click)="menina()" [ngClass]="{'img_activated' : sexo === 1}" [style.background-image]="'url(/assets/cat-option.png)'">
                </div>
              </td>
            </tr>
            <tr>
              <td (click)="menino()" [ngClass]="{'td_activated' : sexo === 0}">Menino</td>
              <td (click)="menina()" [ngClass]="{'td_activated' : sexo === 1}">Menina</td>
            </tr>
          </table>
          <ion-button (click)="next()">Continuar</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-three">
      <div>
        <div class="linha">
          <h1>Qual o nome do Pet?</h1>
          <ion-item class="text_input_field">
            <ion-input placeholder="Nome o nome"></ion-input>
          </ion-item>
          <ion-button (click)="next()">Continuar</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-four">
      <div>
        <div class="linha">
          <h1>Qual o porte do Pet?</h1>
          <ion-item class="text_input_field">
            <ion-label>Porte</ion-label>
            <ion-select placeholder="Selecione">
              <ion-select-option value="Pequeno">Pequeno</ion-select-option>
              <ion-select-option value="Medio">Médio</ion-select-option>
              <ion-select-option value="Grande">Grande</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button (click)="next()">Continuar</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-five">
      <div>
        <div class="linha">
          <h1>Qual idade ele aparenta ter?</h1>
          <ion-item class="text_input_field">
            <ion-label>Idade</ion-label>
            <ion-select placeholder="Selecione">
              <ion-select-option value="Pequeno">Idoso</ion-select-option>
              <ion-select-option value="Medio">Adulto</ion-select-option>
              <ion-select-option value="Grande">Filhote</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button (click)="next()">Continuar</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-six">
      <div>
        <div class="linha">
          <h1>Adicione fotos bonitinhas dele</h1>
          <ion-button (click)="next()">Continuar</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-seven">
      <div>
        <div class="linha">
          <h1>Só mais algumas coisinhas:</h1>
          <ion-button (click)="done()">Adicionar Pet</ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>